body {
    background-color: #1a1c20;
    color: aliceblue;
}


label {
    width: 300px;
}

input {
    width: 80%;
}

h1 {
    color: aliceblue;
}


#main {
    padding-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#center {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div {
    margin-top: 10px;
    margin-bottom: 10px;
}

